.exper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
}

.achive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: black;
}

.circle::before {
    content: '';
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achive span:nth-of-type(2) {
    color: var(--orange);
}

@media screen and (max-width: 480px) {
    .exper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 17rem;
        margin-bottom: 10rem;
    }
}