.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;

  position: fixed;
  background-color: #a0a8b0;
  padding: 0 4rem;
  z-index: 1000;
  width: 80%;
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    gap: 2rem;
    margin: 4rem;
    cursor: pointer;
    /* list-style-type: none; */
}

.n-list>ul li:hover {
    cursor: pointer;
    color: var(--orange);
}

.n-button {
    flex: 2;
}

@media screen and (max-width: 900px) {
    .n-list {
        display: none;
    }
    button {
        width: 150px;
    }
    .n-wrapper {
      position: relative;
      background-color: transparent;
    }

    .n-name {
      display: none;
    }
}